.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background: #FDE74C;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.nav-bar--bottom {
  position: fixed;
  bottom: 0;
}

.nav-bar > a {
  text-decoration: none;
  color: #483D3F;
  width: 25%;
}
